<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.mall.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxx.mall.dao.domain.Order">
        <result column="id" property="id"/>
        <result column="is_delete" property="isDelete"/>
        <result column="cust_id" property="custId"/>
        <result column="order_date" property="orderDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        is_delete,
        cust_id, order_date
    </sql>

    <!-- 通用分页查询，默认根据实体生成查询条件，如若已更换为指定查询对象，请修改相应的判断条件
    时间字段默认生成开始时间和结束时间，且不启用，如果要启用，需要自定义查询对象，然后解注释这里的查询条件
    -->
    <select id="pageQuery" resultType="com.xxx.mall.dao.domain.Order">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM order
        <where>
            <if test="query.custId != null and query.custId != ''">
                AND cust_id = #{query.custId}
            </if>
            <!--
            <if test="query.orderDateBegin != null">
                AND order_date >= #{query.orderDateBegin}
            </if>
            <if test="query.orderDateEnd != null">
                AND order_date <![CDATA[ < ]]> DATE_ADD(#{query.orderDateEnd} ,INTERVAL 1 DAY)
            </if>
            -->
            AND is_delete = 0
        </where>
        ORDER BY id DESC
    </select>

</mapper>
